# Creating Tuple

In [10]:
myTuple = ('apple', 'banana', 'cherry')
print(myTuple)
print(type(myTuple))

print(myTuple[2])

('apple', 'banana', 'cherry')
<class 'tuple'>
cherry

In [8]:
myTupleSingle = ('apple')
print(myTupleSingle)
print(type(myTupleSingle))

myTupleSingleForced = ('apple',)
print(myTupleSingleForced)
print(type(myTupleSingleForced))

apple
<class 'str'>
('apple',)
<class 'tuple'>

In [5]:
myTupleMixed = ('apple', 'banana', 'cherry', 10, 11.5)
print(myTupleMixed)
print(type(myTupleMixed))

('apple', 'banana', 'cherry', 10, 11.5)
<class 'tuple'>

In [9]:
myTupleEmpty = ()
print(myTupleEmpty)
print(type(myTupleEmpty))

()
<class 'tuple'>

## Using "in" operator

In [11]:
print('apple' in myTuple)

True

In [12]:
print('apple' not in myTuple)

False

In [13]:
print('watermelon' in myTuple)

False

In [14]:
print('watermelon' not in myTuple)

True

## Tuple Packing

In [16]:
name = 'John'
age = 25
city = 'New York'

packedTuple = name, age, city

print(packedTuple)
print(type(packedTuple))

('John', 25, 'New York')
<class 'tuple'>

## Tuple Unpacking

In [17]:
person = ('John', 25, 'New York')

name, age, city = person

print(name)
print(age)
print(city)

John
25
New York

## Tuples being used in a function

In [18]:
def getUserInfo():
    name = 'John'
    age = 25
    city = 'New York'
    
    return name, age, city

name, user, city = getUserInfo()

print('Name:', name)
print('Age:', age)
print('City:', city)

Name: John
Age: 25
City: New York

# Characteristics of Tuple

## 1. You cannot modify a Tuple

In [19]:
myTuple = ('apple', 'banana', 'cherry')
myTuple[0] = 'Johny'

TypeError: 'tuple' object does not support item assignment

## Tuples have order

In [20]:
print(myTuple)

('apple', 'banana', 'cherry')